.jokerImg {
  width: 190px;
  height: 252px;
}

.jokerName {
  color: white;
  margin-bottom: 15px;
  font-size: 36px;
}

.stickers {
  margin-top: 15px;
  padding: 5px;
}

.sticker {
  width: 38px;
  height: 38px;
  padding: 5px;
}

.modal {
  position: fixed;
  z-index: 10;
  inset: 0;
  overflow-y: auto;
  background-color: rgb(0, 0, 0, 0.8);
}

.panelContainer {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modelContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #01295f;
  position: relative;
  width: 60vw;
  height: 60vh;
  border-radius: 16px;
  border-width: 2px;
  border-color: #248cd1;
  border-style: solid;
}

.buttons {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}

.saveButton {
  width: 120px;
  height: 50px;
  text-align: center;
  border-color: #1b75e4;
  border-radius: 4px;
  background-color: #1b75e4;
  color: white;
  margin-right: 20px;
  font-size: 20px;
}

.saveButton:hover {
  background-color: #1458ab;
}

.cancelButton {
  width: 120px;
  height: 50px;
  color: white;
  border-radius: 4px;
  background-color: #01295f;
  font-size: 20px;
}

.cancelButton:hover {
  background-color: #011627;
}
