.app {
  text-align: center;
  background-color: #01295f;
  min-height: 100vh;
}

.heading {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  background-color: #d72638;
}

.icon {
  width: 100px;
  height: 100px;
  margin-right: 20px;
}

.title {
  color: #ffbc0a;
  font-size: 60px;
}
