.app {
  text-align: center;
  background-color: #0c2e45;
  min-height: 100vh;
}

.heading {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-bottom: 10px;
  background-color: #8a0620;
}

.icon {
  width: 100px;
  height: 100px;
  margin-right: 20px;
}

.title {
  color: #f5d70a;
}
